@use "../settings" as s;

.page-header {
  min-height: 100vh;
}
.showcase {
  min-height: 100vh;
  .recom-culture,
  .nature-western,
  .quizz {
    background: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    margin: 20px 80px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: justify;

    h2 {
      width: 100%;
      margin: 0 auto 20px;
    }

    h3 {
      margin: 50px 0 10px;
    }

    img {
      width: 250px;
      border-radius: 20px;
      transition: 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
